<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yygh.hosp.mapper.DepartmentMapper">

    <select id="selectByHoscodeAndDepcode" resultType="com.yygh.model.hosp.Department">
        SELECT * FROM department WHERE hoscode = #{hoscode} AND depcode = #{depcode} AND is_deleted = 0
    </select>

</mapper>
